{% extends "dash_base.html" %}{% block content %}
<br>
<h3>Total Spent:</h3>
<br>
<div align="center" class="border-bottom">
    <h1 class="display-1">£{{'%0.2f'|format(user.total_expense_amount|float)}}</h1>
    <br>
    <br>
</div>

<h2>Expenses:</h2>
<div class="table-responsive">
    <table class="table table-md">
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
            <tr style="background-color: {{ expense.expense_type.color}};">
                <td>{{ expense.date }}</td>
                <td>£{{ expense.amount }}</td>
                <td>{{ expense.expense_type.name }}</td>
                <td>{{ expense.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}