{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <dir class="col-12">
            <h1>
                Experience a fresh way to 
            </h1>
            <h1 style="color: blue;">
                manage expenses
            </h1>
        </dir>
    </div>
    <div class="row">
        <div class="col-md-6 align-self-center">
            
            <h2>
                All your expesnse in one app

            </h2>
            <hr>
            <br>
            <p style="font-size: 30px; color: darkblue;">
                Be able to keep track of all your expenses.
            </p>
            <p style="font-size: 30px; color: darkblue;">
                See where all your money goes by easily adding it on the website.
            </p>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <img src="../static/img1.png" alt="image not found" class="rounded">
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6 align-self-center">
            
            <h2>
                Categorise your expenses

            </h2>
            <hr>
            <br>
            <p style="font-size: 30px; color: darkblue;">
                Divid your expenses into different categories.
            </p>
            <p style="font-size: 30px; color: darkblue;">
                Be able to keep track of your spending based on their categories and their percentage.
            </p>
        </div>
        <div class="col-md-4">
            <div class="text-center">
                <img src="../static/img2.png" alt="image not found" class="rounded">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-2">
            <a href="/login">
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Log In">
            </a>
        </div>
        <div class="col-md-2">
            <a href="/signup">
                <input class="btn btn-lg btn-success btn-block" type="submit" value="Sign Up">
            </a>
        </div>   
    </div>
    <br>
    <br>
    <br>

</div>

{% endblock %}